<div class="mat-elevation-z8">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>

    <ng-container matColumnDef="currency">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Currency </th>
      <td mat-cell *matCellDef="let element"> {{element.currency}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="displaySymbol">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Display Symbol </th>
      <td mat-cell *matCellDef="let element"> {{element.displaySymbol}} </td>
    </ng-container>

    <ng-container matColumnDef="figi">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> FIGI </th>
      <td mat-cell *matCellDef="let element"> {{element.figi}} </td>
    </ng-container>

    <ng-container matColumnDef="isin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ISIN </th>
      <td mat-cell *matCellDef="let element"> {{element.isin}} </td>
    </ng-container>

    <ng-container matColumnDef="mic">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> MIC </th>
      <td mat-cell *matCellDef="let element"> {{element.mic}} </td>
    </ng-container>

    <ng-container matColumnDef="shareClassFIGI">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Share Class FIGI </th>
      <td mat-cell *matCellDef="let element"> {{element.shareClassFIGI}} </td>
    </ng-container>

    <ng-container matColumnDef="symbol2">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Symbol 2 </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol2}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>